.ICEauthority
.bash_history
.bash_logout
.bash_profile
.cache/*
.config/*GIMP/*
.config/*Mousepad/*
.config/*Slack/*
.config/*Thunar/*
.config/*Tusk/*
.config/*autostart/*
.config/*catfish/*
.config/*compton.conf
.config/*dconf/*
.config/*dnfdragora.yaml
.config/*enchant/*
.config/*galculator/*
.config/*geany/*
.config/*google-chrome/*
.config/*gtk-2.0/*
.config/*libreoffice/*
.config/*mimeapps.list
.config/*pavucontrol.ini
.config/*pcloud/*
.config/*pulse/*
.config/*ristretto/*
.config/*skypeforlinux/*
.config/*user-dirs.dirs
.config/*user-dirs.locale
.config/*virt-viewer/*
.config/*vlc/*
.config/*xarchiver/*
.config/*xfce4/*
.dropbox-dist/*
.dropbox/*
.esd_auth
.fehbg
.gitconfig
.histfile
.lesshst
.local/*
.mozilla/*
.pcloud/*
.pki/*
.purple/*
.python_history
.screenrc
.ssh/*
.vim/*
.viminfo
.xsession-errors
.xsession-errors.old
.zcompdump
.zshrc
Documents/*
Downloads/*
Dropbox/*
Pictures/*
Takeout/*
pCloudDrive/*
